@(user: models.users.User)

@main("Gamez4Us - AboutUs",user) {
	<h2>About us</h2>
	<p>Gamez4Us is an online digital databank of alot of things video-game related. On this website you can find information
	on video-games like old classic games such as Super Mario Bros. and classic consoles such as the NES (the Nintendo Entertainment System) or 
	on modern games like Gears of War 4 and new consoles such as the PS4 or XBOX ONE.</p>
	<h3>Why we made this website</h3>
	<p>There are a great many reasons why we decided to make this website, the first and foremost reason is because, as time goes on the original games
	like Super Mario Bros. or Donkey Kong Country which use cartridges rather than disks or are downloaded break and stop working, so the chances of encountering these games becomes smaller and smaller. 
	We here ar Gamez4Us want to give the world a chance to find these games so that they are not forever lost to time.</p>	
}	
	
